.header {
  background-image: url("./Images/pattern.jpg");
  background-position: center;
  background-size: 400%;
}

.header h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

strong {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
